:host {
  display: block;
  margin: 12% 0 0 0;
}

ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;

  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

a {
  color: rgb(247, 129, 102);
  text-decoration: none;
  padding: 25px;
  background-color: rgb(22, 27, 34);
  border-radius: 5px;
  border: 1px solid rgb(48, 54, 61);
  transition: transform 0.2s;
}

a:hover {
  transform: translateY(-5px);
  text-decoration: underline;
  background-color: rgba(22, 27, 34, 0.3);
}

@media screen and (max-width: 890px) {
  ul {
    flex-direction: column;
    gap: 5rem;
  }

  li {
    width: 100%;
  }
}
