<nav class="navbar">
  <div class="brand">
    <img src="./../assets/github-dark.jpg" alt="Logo">
    Alex Morrison
  </div>
  <div class="nav-links">
    <a href="#details">Home</a>
    <a href="#projects">Projects</a>
    <a href="#achievements">Achievements</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="settings">
    <button type="button" title="Theme Toggler" class="theme-toggle"><i class="fas fa-adjust"></i></button>
    <select class="language-switch" title="Language Dropdown">
      <option value="en">English</option>
      <option value="fr">Albanian</option>
      <option value="es">German</option>
    </select>
  </div>
</nav>