<div class="wrapper">
    <app-details id="details" />
</div>

<!-- <span (inViewport)="onViewport()"></span> -->

<div class="wrapper wrapper-xl">
    <ng-template #contentSlot />

    <ng-container *ngIf="lazyState$ | async as state">
        <ng-template *ngIf="state == 'NOT_STARTED'" [ngTemplateOutlet]="placeholderTpl"></ng-template>
        <ng-template *ngIf="state == 'IN_PROGRESS'" [ngTemplateOutlet]="loadingTpl"></ng-template>
        <ng-template *ngIf="state == 'FAILED'" [ngTemplateOutlet]="errorTpl"></ng-template>
    </ng-container>

    <ng-template #placeholderTpl>
        <p (inViewport)="onViewport()">Projects List will be rendered here...</p>
    </ng-template>
    
    <ng-template #loadingTpl>
        <app-projects-skeleton />
    </ng-template>

    <ng-template #errorTpl>
        <p>Oops, something went wrong!</p>
    </ng-template>
</div>